*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Poppins', sans-serif;
}
body
{
	width: 100%;
        height: 100vh;
	background-image:url(https://www.clipartkey.com/mpngs/m/14-146403_online-exam-system-call-centre-cartoon-gif.png);
	background-size: auto;
	background-position: center;
	font-family: sans-serif; 
	background-repeat: no-repeat;
	background-color: #f7f7f7;
}
.menu-bar
{
	background: rgb(0,150,0);
}
.menu-bar ul
{
	display:inline-flex;
	list-style: none;
	color: #fff;
}
.menu-bar ul li
{
	width:120px;
	margin: 15px;
	padding: 15px;
}
.menu-bar ul li a
{
	text-decoration: none;
	color: #fff;
}
.active, .menu-bar ul li:hover
{
	background: #2bab0d;
	border-radius: 3px;
}
.menu-bar .fa
{
	margin-right: 10px;
}
.sub-menu-1
{
	display: none;
}
.menu-bar ul li:hover .sub-menu-1
{
	display: block;
	position: absolute;
	background: rgb(0,100,0);
	margin-top: 15px;
	margin-left: -15px;
}
.menu-bar ul li:hover .sub-menu-1 ul
{
	display: block;
	margin: 10px;

}
.menu-bar ul li:hover .sub-menu-1 ul li
{
	width: 150px;
	padding: 10px;
	border-bottom: 1px dotted #fff;
	background: transparent;
	border-radius: 0;
	text-align: left;
}
.menu-bar ul li:hover .sub-menu-1 ul li:last-child
{
	border-bottom: none;
}
.menu-bar ul li:hover .sub-menu-1 ul li a:hover
{
	color: #b2ff00;
}
.fa-angle-right
{
	float:right;
}
.sub-menu-2
{
	display: none;;
}
.hover-me:hover .sub-menu-2
{
	position: absolute;
	display: block;
	margin-top: -40px;
	margin-left: 140px;
	background: rgb(0,100,0);
}
.signup-btn
{
	top: 40px;
	right: 80px;
	position: absolute;
	text-decoration: none;
	color: #fff;
}
#box
{
	height:350px;
	width :1000px;
	background: #051937;
	border-radius: 5px;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
}
.vertical-menu {
  width: 200px; /* Set a width if you like */
}

.vertical-menu a {
  background-color: #eee; /* Grey background color */
  color: black; /* Black text color */
  display: block; /* Make the links appear below each other */
  padding: 12px; /* Add some padding */
  text-decoration: none; /* Remove underline from links */
}

.vertical-menu a:hover {
  background-color: #ccc; /* Dark grey background on mouse-over */
}

.vertical-menu a.active {
  background-color: #4CAF50; /* Add a green color to the "active/current" link */
  color: white;
}
#main
{
	height: 450px;
	width: 480px;
	background: #0fbcf9;
	border-radius: 0px;
	position: absolute;
	top: 50%;
	left: 70%;
	transform: translate(-50%,-50%);
	z-index: 999;
	background: linear-gradient(-45deg,#ee7752,#e73c7e,#23a6d5,#23d5ab);
	background-size: 400%,400%;
	animation: gradient 15s ease infinite;
}
#loginform, #signupform
{
	position: absolute;
	top: 50%;
	left: 70%;
	transform: translate(-50%,-50%);
	z-index: 999;
}
#signupform
{
	top: 45%;
	left: 75%;
	visibility: hidden;
}
#loginform h1, #signupform h1
{
	font-family: 'Raleway',sans-serif;
	font-size: 25px;
	color: #051937;
}
#loginform input, #signupform input
{
	height: 40px;
	width: 300px;
	border: 0;
	outline: none;
	border-bottom: 1px solid #051937;
	margin: 5px;
	background: none;
}
input::placeholder
{
	color: #fff;
}
#loginform button, #signupform button
{
	height: 35px;
	width: 130px;
	background-color: #051937;
	font-family: 'Raleway',sans-serif;
	font-size: 16px;
	border: none;
	outline: none;
	border-radius: 5px;
	margin-top: 30px;
	margin-left: 175px;
	color:#fff;
}
#loginBtn, #signupBtn
{
	height: 35px;
	width: 120px;
	background: transparent;
	color:#0fbcf9;
	border: 1px solid #0fbcf9;
	outline: none;
	border-radius: 5px;
	position: absolute;
	top: 65%;
	left: 75%;
	transform: translate(-50%,-50%);
	transition: all 0.5s;
}
#signupBtn
{
	left: 25%;
}
#loginBtn:hover, #signupBtn:hover
{
	background-color: #023f92;
	color: #fff;
	cursor: pointer;
}
#loginmsg, #signupmsg
{
	font-family: 'Raleway',sans-serif;
	font-size: 25px;
	color: #0fbcf9;
	position: absolute;
	top: 35%;
	left: 75%;
	transform: translate(-50%,-50%);
	z-index: 1;
}
#signupmsg
{
	left: 25%;
}

/****  animation effect ****/
@keyframes gradient{
	0%{
		background-position: 0% 50%;
	}
	50%{
		background-position: 100% 50%;
	}
	100%{
		background-position: 0% 50%;
	}
}